.btns_groub {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 8px;
    border-radius: 5px;
    margin: 0;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    grid-template-columns: repeat(auto-fill, minmax(140px, 160px));
    margin: 8px;
}

.home_btn {
    position: relative;
    transition: all .1s;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    cursor: pointer;
    background: linear-gradient(186deg, #46106e 0%, #652082 49%, #671c7a 74%, #46106e 100%);
    border-radius: 0.5rem;
    overflow: hidden;
}

.home_btn:not(.activee):hover:after,
.home_btn.activee:after {
    border: solid 2px;
    opacity: 1;
}

.home_btn:after {
    content: '';
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    transition: opacity .3s;
}


.home_btn span {
    position: relative;
    display: block;
    filter: blur(12px);
    background-size: contain !important;
}

.home_btn span:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(1/1 * 100%);
}

.home_btn em {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    text-align: center !important;
    z-index: 2;
}