.servers_btns_container {
    padding: 0 8px;
}

.server_btn {
    position: relative;
    margin: 4px 0;
    width: 100%;
    padding: 8px;
    color: #fff;
    box-shadow: var(--mou_custom_box_shadow);
    background: linear-gradient(186deg, #46106e 0%, #652082 49%, #671c7a 74%, #46106e 100%);
}

.server_btn.online::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important;
    background-color: #198754 !important;
}

.server_btn:active {
    transform: translateY(1px);
}

.server_btn i {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}

.server_content {
    padding: 0 8px;
}

.load_more_btn {
    background: #0000;
    background-image: var(--bs-gradient) !important;
    padding: 4px;
    width: 100%;
    box-shadow: var(--mou_custom_box_shadow);
}

.posts_ul {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 160px));
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 4px 0;
    justify-content: center;
}

.vide_container {
    cursor: pointer;
    position: relative;
    list-style: none;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px #00000078;
}

.vide_container_overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.vide_thump:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(12/9 * 100%);
}

.vide_thump {
    position: relative;
    display: block;
}

.vid_detailes_container {
    position: relative;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    margin-top: 8px;
}

.vid_detailes_container h3 {
    font-size: 0.8rem;
    line-height: 1.2rem;
    overflow: hidden;
    height: 1.2rem;
    padding: 0 8px;
    text-align: center;
}

.about_vid {
    position: relative;
    display: block;
    /* background-image: var(--bs-gradient) !important; */
    background: linear-gradient(186deg, #46106e 0%, #652082 49%, #671c7a 74%, #46106e 100%);
}

.mou_vid_container {
    background: linear-gradient(186deg, #46106e 0%, #652082 49%, #671c7a 74%, #46106e 100%);
    color: #fff;
    border-radius: 0.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    ;
}

.mou_vid_container .header-title {
    text-align: center;
    border-bottom: solid 2px;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.watch_sources,
.download_sources {
    text-align: center;
}

.post_content {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.post_content .post_img_container {
    max-width: 200px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 20px #00000078;
    border-radius: 1rem;
}

.post_content .post_img_container img {
    width: 100%;
    display: block;
    height: 100%;
}

.post_content .post_title {
    text-align: center;
    display: block;
    margin-bottom: 0.5rem;
}

.mou-info-table {
    border-collapse: collapse;
    width: 100%;
}

.mou-info-table tr {
    border-bottom: 1px solid #ededed6b;
}

.mou-info-table tr:first-child {
    border-top: 1px solid #ededed6b;
}

.mou-info-table tr td {
    background: #0000;
    padding: 4px;
}

.mou-info-table tr td:first-child {
    border-left: 1px solid #ededed6b;
}

.halakat_btns {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 8px;
    border-radius: 5px;
    margin: 0;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.mou_eps_num {
    position: relative;
    padding: 10px 15px 8px !important;
    transition: all .1s;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 0.5rem;
    cursor: pointer;
}

.vide_container_overlay .mou_eps_num {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    line-height: 1.1;
    font-size: 1rem;
    padding: 6px 8px !important;
}

.vide_container_overlay .mou_eps_num:hover:after {
    border: none;
    opacity: 1;
}

.mou_eps_num:not(.activee):hover:after,
.mou_eps_num.activee:after {
    border: solid 2px;
    opacity: 1;
}

.mou_eps_num:after {
    content: '';
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    transition: opacity .3s;
}

.mou_eps_num em {
    display: block;
    position: relative;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-align: center !important;
    z-index: 2;
}

.mou_eps_num span {
    font-weight: 500;
    display: block;
    position: relative;
    text-align: center !important;
    z-index: 2;
}